<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- location path="." içindeki system.webServer'a ekle -->
  <location path="." xdt:Locator="Match(path)">
    <system.webServer>
      <security xdt:Transform="InsertIfMissing">
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1048576000"
                         xdt:Transform="SetAttributes(maxAllowedContentLength)" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

</configuration>
